@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* *{
    margin:0;
    padding:0;
    box-sizing: border-Box;
    font-family: "Poppins",sans-serif;
} */


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #0a4f8f;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 40px;
  padding-top: 90px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-wrapper{
  height: 600px ;
}

.swiper-slide {
  width: 300px;
  height: 200px;
  /* height: 30%; */
  background:#fff ;
  filter:blur(4px);
  padding:30px;
  border-radius: 2px;

}
.swiper-slide-active{
  Filter:blur(0px);
  Background:#ffff;
  }
  .swiper-3d .swiper-slide-shadow-right,
  .swiper-3d .swiper-slide-shadow-left{
    background-image: none;
  }
.swiper-slide .slide-content{
    position: relative;
    padding:10px;
    padding-bottom: 40px;
    margin: -5px;
    color:#999;

}
video{
  height:600px;
  width:60%;

}
.center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.slide-content .profile{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:20px;
  
} */
.slide-content .profile .image{
  position:relative;
  width:100%;
  height: 100%;
  margin:20px;
  padding:5px;
  /* overflow:hidden; */
}
.profile .image img{
border-radius:50%;
width:160px;
height: 160px;
object-fit: cover;

}
.slide-content .profile h3{
  font-size: 16px;
  font-weight: 400;
  letter-spacing:1px ;
  color:#c2328b;
  line-height: 1.1;
  margin: 10px;
}
.slide-content .profile span{
  font-size: 12px;
  color:#666;
  
}
